body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
}
.logo{
    background: #ffb6b6;
    width: 100%;
    text-align: center;
    height: 7vh;
}
.menu1{
    background-color: rgb(207, 41, 41);
    width: auto;
    height: 3vh;
    text-align: center;
    word-spacing: 8vw;
    font-size: 1.5vw;
}
.menu2{
    background-color: rgb(207, 41, 41);
    float: left;
    width: 20%;
    height: 235vh;
    font-weight: 200;
}
.tresc{
    background-color: rgb(255, 117, 117);
    float: right;
    width: 80%;
    height:235vh;
}
.stopka{
    background-color: rgb(191, 0, 0);
    width: 100%;
    height: 2vh;
    text-align: center;
    position: fixed;
    bottom: 0px;
}

#imie{
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    clear: both;
}
.plog1{
    height: auto;
    max-width: 100%;
    float: left;
}
.plog2{
    height: auto;
    max-width: 100%;
    float: right;
}
.logon{
    font-size: 3.4vw;    
    font-variant: initial;
    color: rgb(193, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
a:link{
    color: rgb(255, 255, 255);
}
a:visited {
    color: rgb(246, 191, 210);
}
a:hover {
    color: rgb(253, 203, 203);
}
 a:active {
    color: rgb(226, 181, 204);
}
.zwia{
    font-size: 1.5vw;
}

.tab{
    font-size: 1.25vw;
}
.tabelk{
    text-align: center;
    font-size: 2vw;
    color: rgb(130, 0, 0);
}
table, th, td {
    border: 0.15vw solid black;
    border-collapse: collapse;
}
tr{
    height: 1.7vw;
    text-decoration-color: black;
}
table{
    width: 100%;
}
th{
    width: 30%;
    text-decoration-color: rgb(98, 0, 0);
}
td{
    text-align: center;
    border-style: dotted;
}
#lista{
    text-align: center;
    font-size: 2vw;
    color: rgb(130, 0, 0);
}
.listn{
    font-size: 1.3vw;
}
.numt{
    font-size: 1.7vw;
}
#formularz{
    text-align: center;
    font-size: 2vw;
    color: rgb(130, 0, 0);
}
.pytan{
    font-size: 2vw;
    font-weight: 300;
}
#galeria{
    text-align: center;
    font-size: 2vw;
    color: rgb(130, 0, 0);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 60fr);
    grid-template-rows: repeat(2, vw);
    grid-gap: 15px;
}
@media screen and (max-width:600px) {
.menu2{overflow: hidden;
    background-color: #2e384d;
    float: right;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    width: 20%;
    justify-content: space-between;
    flex-direction: column;
    height:235vh;
    align-items: 0;
    flex-direction: column;
    justify-content: end;
    clear: none;
    font-weight: bold;
    align-self: initial;
}
.tresc{
        background-color: rgb(255, 173, 214);
        float: left;
        width: 80%;
        height:235vh; 
        display: flex;
        overflow: hidden;
        justify-content: initial;
    }
}
@media screen and (max-width:800px){
#formularz{text-decoration-color: darkmagenta;}
.menu2{display:none;}
}
@media screen and (max-width:1200px){
.menu1{background-color: aliceblue;}
}
.mySlides {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 25vw;
}
 
 
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  justify-content: center;
}
 
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
 
.active {
  background-color: #717171;
}
 
.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
 
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.container {
  max-width: 80%;
  margin: 3vw auto;
  background-color: #fff;
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img {
  vertical-align: middle;}